<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://beta.adalab.es/resources/stylesheets/all.css" />
    <title>La película que buscas no existe - FilmAffinity</title>
  </head>
  <body class="page">
    <%- include('../partials/header'); %>

    <h1 class="mb-1 title--big">La película que buscas no existe</h1>

    <%- include('../partials/footer'); %>
  </body>
</html>
