@import '../core/variables.scss';

.header {
  .menu {
    &__link {
      display: block;
      margin-bottom: 0.3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center center;
      transition: background 0.3s;

      &:hover {
        background-color: $color-blue-light;
      }

      .text {
        position: relative;
        left: -10000px;
      }
    }

    .menu__link {
      cursor: pointer;
    }

    .menu__link.active {
      background-color: #eee;
    }

    &__item--twitter .menu__link {
      background-image: url('../../images/icon-twitter.png');
      &.active {
        background-color: transparent;
      }
    }

    &__item--home .menu__link {
      background-image: url('../../images/icon-home.png');
    }

    &__item--search .menu__link {
      background-image: url('../../images/icon-search.png');
    }

    &__item--profile .menu__link {
      background-image: url('../../images/icon-profile.png');
    }

    &__item--tweet .menu__link {
      margin-top: 0.5rem;
      width: 3rem;
      background-image: url('../../images/icon-feather.png');
      background-color: $color-blue-dark;
      border: none;

      &:hover {
        background-color: $color-blue-dark-hover;
      }
    }
  }
}
