:root {
  font-family: 'Montserrat', sans-serif;
  --fire-red-engine: #cc212a;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: var(--fire-red-engine);
  width: 15ch;
}

/*Truco para que la primera linea tenga una palabra*/
.title::first-line {
  word-spacing: 100vw;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-top: solid var(--fire-red-engine) 3px;
}

.ball {
  background-color: var(--fire-red-engine);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .footer {
    box-sizing: border-box;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .ball {
    transform: none;
  }
}
