.loading {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  &.hidden {
    opacity: 0;
  }
}

@keyframes beat {
  0% {
    width: 1.5rem;
    height: 1.5rem;
  }
  20% {
    width: 2rem;
    height: 2rem;
  }
  40% {
    width: 1.5rem;
    height: 1.5rem;
  }
  60% {
    width: 2rem;
    height: 2rem;
  }
  80% {
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    width: 1.5rem;
    height: 1.5rem;
  }
}
