@import '../core/variables.scss';

.profile {
  padding-bottom: 1rem;
  border-bottom: 1px solid $border;

  .header {
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 3.3125rem;
    }

    &__account {
      display: block;
      margin: 0 1rem;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 0.9;
    }

    &__tweets {
      margin: 0 1rem;
      display: block;
      font-size: 0.8125rem;
      font-weight: 400;
      color: #536471;
    }

    &__content {
      margin: 0 1rem;
    }

    &__profile-image {
      position: absolute;
      transform: translate(0, -55%);
      width: 8.75rem;
      height: 8.75rem;
      border-radius: 50%;
      border: 4px solid white;
      background: white;

      > * {
        width: 100%;
        border-radius: 50%;
        border: 1px solid #eee;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem 0;
    }

    &__follow-btn {
      width: 8.75rem;
      height: 2.25rem;
      border-radius: 100px;
      border: 1px solid #cfd9de;
      background-color: white;
      font-size: 15px;
      font-weight: 700;
      color: #536471;
    }

    &__account-info {
      margin: 1rem 0;
    }

    &__acount-title {
      display: block;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 0.9;
    }

    &__acount-username {
      font-size: $size-main-text;
      color: #536471;
    }

    &__acount-follow {
      padding: 1px 4px;
      border-radius: 4px;
      background-color: #eff3f4;
      font-size: 0.6875rem;
      color: #536471;
    }

    &__account-description {
      margin-bottom: 1rem;
      font-weight: normal;
      font-size: $size-main-text;
    }

    &__account-data {
      margin-bottom: 1rem;
      font-size: $size-main-text;
      color: #536471;
    }

    &__account-region,
    &__account-link,
    &__account-date {
      padding: 0 0.5rem 0 1.2rem;
      background-repeat: no-repeat;
      background-position: 0 3px;
      background-size: 14px;
    }

    &__account-region {
      background-image: url('../../images/icon-place.png');
    }

    &__account-link {
      background-image: url('../../images/icon-link.png');
      color: #1d9bf0;

      &:hover {
        text-decoration: underline;
      }
    }

    &__account-date {
      background-image: url('../../images/icon-calendar.png');
    }

    &__followers-info {
      color: $color-text-secondary;
      font-size: $size-main-text;
    }

    &__following {
      padding-right: 0.5rem;
    }

    &__followers-number {
      font-weight: 700;
      color: black;
    }
  }
}
