.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;

  &__title {
    font-size: 1.5rem;
    color: #a349a4;
  }

  &__search {
    padding: 0.5rem;
    width: 20rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    outline: none;
    transition: all ease 0.3s;

    &:focus {
      border-color: #a349a4;
      background-color: #fff;
    }
  }
}
